[submodule "dependency_json_cpp"]
	path = dependency_json_cpp
	url = https://github.com/cellworld/dependency_json-cpp.git
	branch = Cellworld_2023
[submodule "dependency_easy_tcp"]
	path = dependency_easy_tcp
	url = https://github.com/cellworld/dependency_easy-tcp
[submodule "dependency_requests"]
	path = dependency_requests
	url = https://github.com/cellworld/dependency_requests.git
[submodule "cellworld"]
	path = cellworld
	url = https://github.com/cellworld/cellworld.git
[submodule "cellworld_experiment_service"]
	path = cellworld_experiment_service
	url = https://github.com/cellworld/cellworld_experiment_service.git
[submodule "dependency_gamepad_lib"]
	path = dependency_gamepad_lib
	url = https://github.com/cellworld/dependency_gamepad_lib.git
